a {
    color: #00b0d8;
}

.article:first-child {
    margin-top: 0;
    border-top: none;
    padding-top: 0;
}

.article {
    margin-top: 20px;
    padding-top: 60px;
    border-top: 1px solid rgba(0, 176, 216, 0.5);
}

.article__title {
    font-size: 24px;
    font-weight: 600;
}

.article__author {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: .5em .5em .5em 0;
    font-weight: 400;    
}

.article__author span {
    color: #00b0d8;
}

.article__info {
    padding: 1em 0;
}